<div class="custonClass">
    <h1 class="text-titulo">Nossa Empresa</h1>
    <p class="text">
        Quem Somos

        Na XYZ Contabilidade, nossa missão é fornecer serviços contábeis excepcionais e soluções financeiras inovadoras
        para ajudar nossos clientes a prosperar e alcançar seus objetivos comerciais. Com mais de uma década de
        experiência no setor, nos destacamos por nossa dedicação à excelência, integridade e compromisso com o sucesso
        de nossos clientes.

        Nossa equipe é composta por profissionais altamente qualificados e apaixonados pelo que fazem. Combinamos
        conhecimento especializado em contabilidade, tecnologia avançada e um compromisso inabalável com o serviço ao
        cliente para oferecer soluções personalizadas e orientadas para resultados.
        Na XYZ Contabilidade, não apenas gerenciamos números; ajudamos a construir o futuro de nossos clientes e
        comunidades, um balanço de sucesso e responsabilidade.</p>
</div>