.custonClass {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(27, 26, 26, 0.849);
    width: auto;
    height: 400px;
    margin-left: -8px;
    margin-right: -8px;

    @media (max-width: 767px) {
        height: 420px;
    }
}

.text {
    margin: 50px;

    @media (max-width: 767px) {
        margin: 10px !important;
        font-size: 12px;
    }
}

.text-titulo {
    padding-top: 60px;
    text-decoration: underline;

    @media (max-width: 767px) {
        padding-top: 6px;
        font-size: 20px;
    }
}