<div class="custonClass">
    <div class="text-titulo"></div>
    
    <div class="icons-containe ">
        <div class="container-item">
            <div class="icons-containe-item">
                <img class="icons-iten-img" src="assets/calendar.svg" alt="">
            </div>
            <div class="text-sub-titulo">
                <p>
                    <span> <strong> Agenda</strong> </span>
                    <br>
                    <span> de Obrigações </span>
                </p>
            </div>
        </div>


        <div class="container-item">
            <div class="icons-containe-item">
                <img class="icons-iten-img" src="assets/folder.svg" alt="">
            </div>
            <div class="text-sub-titulo">
                <p>
                    <span> <strong>Modelo</strong> </span>
                    <br>
                    <span>de Documentos</span>
                </p>
            </div>
        </div>


        <div class="container-item">
            <div class="icons-containe-item">
                <img class="icons-iten-img" src="assets/description.svg" alt="">
            </div>
            <div class="text-sub-titulo">
                <p>
                    <span> <strong> Formulários</strong> </span>
                    <br>
                    <span>Diversos</span>
                </p>
            </div>
        </div>

        <div class="container-item">
            <div class="icons-containe-item">
                <img class="icons-iten-img" src="assets/table.svg" alt="">
            </div>
            <div class="text-sub-titulo">
                <p>
                    <span> <strong>Tabelas</strong> </span>
                    <br>
                    <span>Práticas</span>
                </p>
            </div>
        </div>
    </div>
</div>
