* {
    margin: -8px !important;
    margin-top: -40px !important;
}


.custonClass {
    width: 100vw;
    height: 480px !important;

    @media (max-width: 767px) {
        width: auto;
        height: 230px !important;
    }
}

.p-carousel .ui-carousel-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}