.custonClass {
    flex-direction: row;
    justify-content: space-between;
    color: antiquewhite;
    background-color: rgba(102, 39, 98, 0.849);
    width: auto;
    height: 400px;
    margin-left: -8px;
    margin-right: -8px;

}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
}

.text {
    margin-top: 150px;
}