.card-content {
    margin: 25px !important;
    height: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-saiba {
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    margin-top: -20px !important;
}

a.saiba-mais {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

a.saiba-mais:hover {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
}

.text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    color: rgb(117, 60, 172);
}

.p-card {
    width: 280px !important;
    height: 250px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .card-content p-card {
        width: calc(100% - 20px);
    }

    .card-content {
        margin-bottom: 200px !important;
        width: 200px !important;
    }
}