<div class="card-content">
    <p-card header="Uma Notícia" subheader="Sub-Título" [style]="{ width: '280px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
        </p>
        <ng-template pTemplate="footer">
            <div class="text-saiba">
                <a class="saiba-mais" href="">Saiba Mais</a>
            </div>
        </ng-template>
    </p-card>

    <p-card header="Uma Notícia" subheader="Sub-Título" [style]="{ width: '280px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
        </p>
        <ng-template pTemplate="footer">
            <div class="text-saiba">
                <a href="">Saiba Mais</a>
            </div>
        </ng-template>
    </p-card>

    <p-card header="Uma Notícia" subheader="Sub-Título" [style]="{ width: '280px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
        </p>
        <ng-template pTemplate="footer">
            <div class="text-saiba">
                <a href="">Saiba Mais</a>
            </div>
        </ng-template>
    </p-card>

    <p-card header="Uma Notícia" subheader="Sub-Título" [style]="{ width: '280px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
        </p>
        <ng-template pTemplate="footer">
            <div class="text-saiba">
                <a href="">Saiba Mais</a>
            </div>
        </ng-template>
    </p-card>
</div>